body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Nav*/
.nav {
  border-bottom: 1px solid lightgray;
}

.nav-item {
  text-align: center;
}

/*Base*/
.main-wrap {
  height: 100vh;
}

.form-wrap {
  border: 1px solid lightblue;
  padding: 20px;
  border-radius: 3px;
}

.error-page-component, .login-page-component, .home-page-component {
  text-align: center;
}

.main-page-title {
 text-align: center;
}

.content {
  margin-top: 100px;
}

/*Logout*/
.logout-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btn-logout {
  margin: 0 auto;
  color: #000;
}

/*Alert*/

.alert {
  margin-top: 20px;
}

.alert-hidden {
  visibility: hidden;
}